*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}



img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}



p {
    color: hsla(0, 0%, 100%, 0.75);  
}

h1,
h2,
h3 {
    color:hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 2rem;
}

/* Accessible */
.hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);    
}

main {
 padding: 1rem;
 max-width: 900px;
 margin-inline: auto;
}

.cards {
    /* position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, 0%);
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto; */
    display: grid;
    /* grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    'sedans'
    'suvs'
    'luxury'; */
}


.cards__card--sedans {
    grid-area: sedans;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cards__card--suvs {
    grid-area: suvs;
    background-color: hsl(184, 100%, 22%);
}

.cards__card--luxury {
    grid-area: luxury;
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.content {
    width: 70%;
    padding: 2em 0;
    margin: 0 auto;
}

.content > * {
    margin-bottom: 1rem;
}

.content img {
    width: 3em;
}

.learn-more-btn {
    display:inline-block;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 100px;
    background-color: hsl(0, 0%, 95%);
    padding: 10px 25px;
    margin-top: .5em;
}

.learn-more-btn--sedans {
    color:hsl(31, 77%, 52%);
}

.learn-more-btn--suvs {
    color:hsl(184, 100%, 22%);
}

.learn-more-btn--luxury {
    color:hsl(179, 100%, 13%);
}


/* Active States */

.learn-more-btn:hover,
.learn-more-btn:focus {
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 95%);
    color:hsl(0, 0%, 95%);
}


/* Media Queries */

/* @media (min-width: 1440px) {
    .cards {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 800px;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                'sedans suvs luxury';
        }   
} */



/* Updated Code */
@media (min-width: 600px) {

    .cards {
        grid-template-columns: repeat(3, 1fr)
    }

    .content img {
            width: 55px;
            margin: 1rem 0 2rem;
    }

    .content p:first-of-type {
        margin-bottom: 4rem;
    }

    .cards__card--sedans {
        border-radius: 7px 0 0 7px;
    }
    
    .cards__card--luxury {
        border-radius: 0 7px 7px 0;
    }
}